* { margin: 0; padding: 0; box-sizing: border-box; }
.contaienr { max-width: 1350px !important; margin: 0 auto;}

ul { list-style: none !important;}
a { text-decoration: none;}
.g-col-3__gallery { display: grid; grid-template-columns: repeat(3 , 1fr ); }

@media screen and (max-width: 1200px) {
    
   
}

@media screen and (max-width: 1000px) {
   

}

@media screen and (max-width: 900px) {
    .g-col-3__gallery { display: grid; grid-template-columns: repeat(2 , 1fr ); }
   
}

@media screen and (max-width: 750px) {
    
    
   
}

@media screen and (max-width: 680px) {
   
    .g-col-3__gallery { display: grid; grid-template-columns: repeat(1 , 1fr ); }
   
}